

/* Terms and Privacy -- Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  position: relative;
  max-height: 70vh; /* Limit height */
  overflow-y: auto;  /* Enable scroll */
}

.modal .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
